<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="SignUpRequestDto"
                   type="org.c4marathon.assignment.domain.member.dto.request.SignUpRequestDto"/>
        <typeAlias alias="LoginHistoryDto"
                   type="org.c4marathon.assignment.domain.member.dto.LoginHistoryDto"/>
        <typeAlias alias="LoginResponseDto"
                   type="org.c4marathon.assignment.domain.member.dto.response.LoginResponseDto"/>

        <!-- 패키지 전체에 대한 별칭 설정 -->
        <package name="org.c4marathon.assignment.domain.member.dto.request"/>
    </typeAliases>
</configuration>
